<a href="https://colab.research.google.com/github/MarcoGiancola/Repository1/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**


*   List popular languages for Data Science
*   List popular libraries for Data Science
*   3 open source tools for Data Science
*   An example of evaluating arithmetic expressions in Python
*   An expression that converts 200 minutes to hours by diving by 60

####Some of the popular languages that Data Scientists use are:
1.   Python
2.   R
3.   SQL
4.   Java
5.   Matlab
6.   Julia
7.   Scala
8.   C/C++

####Some of the commonly used libraries used by Data Scientists include:
1.   NumPy
2.   Pandas
3.   Matplotlib
4.   Seaborn
5.   Scikit-learn
6.   Keras
7.   TensorFlow
8.   PyTorch

###**Data Science Tools**
---
###Jupyter Notebook
---
###RStudio
---
###Apache Zeppelin

###Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
print("200 minutes =", 200/60, "hours")

200 minutes = 3.3333333333333335 hours

##Author
Marco Giancola